name: Trigger ouvroir's website build
on:
  push:
  workflow_dispatch:
jobs:
  dispatch_event:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Post dispatch
        if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: |
          curl -v -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.NEW_PAT_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/ouvroir/website/actions/workflows/deploy.yml/dispatches \
            -d '{"ref":"main"}'
